# Secrets / local env
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
*.auto.tfvars

# decK
deck.log

# OS / Editor / Tools
.DS_Store
.idea/
.vscode/
.claude/
*.swp
